*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

main > .large {
  color: white;
  display: block;
  font-size: 5rem;
}
